ESCAPE_ROOM_DATABASE_URL=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_ESCAPE_ROOM_LAMBDA_NAME=

AWS_REGION=
S3_BUCKET_NAME=

# The folder in the S3 bucket to store unfinished escape rooms. e.g., "unfinished"
S3_PREFIX_UNFINISHED_ROOMS=

# The folder in the S3 bucket to store finished escape rooms. e.g., "finished"
S3_PREFIX_FINISHED_ROOMS=